<div class="row">
  <div class="col-sm-3">
    <div class="sidebar-nav">
      <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" 
                  class="navbar-toggle" 
                  data-toggle="collapse" 
                  data-target=".sidebar-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <span class="visible-xs navbar-brand">Menu</span>
        </div>
        <div class="navbar-collapse collapse sidebar-navbar-collapse">
          <ul class="nav navbar-nav">
            <li>
              <input style="display: none;" 
                     id="chooseFile" 
                     type="file" 
                     name="files" 
                     accept=".xls,.xlsx,.ods,.csv"                  
                     filelist-bind>
              <a href="" onclick="document.getElementById('chooseFile').click(); return false">
                <span class="txtFile">{{prompts.menuOpenFile}}</span>
              </a>
            </li>              

            <li ng-show="menuShowFilename()">
            </li>

            <li ng-repeat="action in actions">

              <button class="button" 
                      type="button" 
                      ng-click="runAction(action.command)">
                      <span class="pull-left"></span>
                        {{action.name}}
              </button>

<!--                <a href="#/viewSheet/{{action.command}}">
                <span class="txtMenu">
                  {{action.name}}
                </span>

                <span style="font-size:16px;"
                      class="pull-left hidden-xs showopacity glyphicon {{action.icon}} {{action.color}}">
                </span>
              </a>
 -->

            </li>

          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-9">

  </div>
</div>