<script type="text/ng-template" id="visibilityTooltipTemplate.html">
  <div style="color:black; width:140px;">
      <span>{{prompts.visibility}}</span>
  </div>
</script>


<div class="container">
  <div class="rowz">
    <div class="col-md-4 col-md-offset-4">
      <form name="myform" 
            class="form-login" 
            novalidate="" 
            autocomplete="off"
            ng-submit="login()">
        <h4 class="text-info">{{prompts.logIn}}</h4>
        <p class="alert alert-danger" ng-show="invalidMessage">{{invalidMessage}}</p>
        
        <div class="form-group">
          <label for="onlineID" class="sr-only">{{prompts.account}}</label>
          <input class="form-control" 
                 type="text" 
                 name="account" 
                 placeholder="{{prompts.account}}"
                 ng-model="credentials.account" 
                 ng-required="{{required}}">
          <p class="text-danger" 
             ng-show="myform.email.$invalid && 
                      myform.email.$touched">{{prompts.errAccount}}</p>
        </div>

        <div class="form-group">
          <label for="account" class="sr-only">{{prompts.password}}</label>
          <div class="inner-addon right-addon">
            <span> 
              <i 
                tooltip-placement="top" 
                tooltip-class="tooltip-class"
                uib-tooltip-template="'visibilityTooltipTemplate.html'"
                tooltip-popup-close-delay='500'
                ng-click="toggleVisiblity();" 
                class='glyphicon glyphicon-eye-open'
                style="pointer-events: initial; margin-top:7px;">
              </i>
            </span>

            <input class="form-control" 
                   id="password"
                   type="password" 
                   name="password" 
                   placeholder="{{prompts.password}}" 
                   ng-model="credentials.password" 
                   ng-required="{{required}}">
          </div>
          <p class="text-danger"
             ng-show="myform.password.$invalid && 
                      myform.password.$touched">{{prompts.errPasswordRequired}}</p> 
        </div>

        <div style="text-align:center; padding-bottom:10px;">
          <input type="checkbox" name="rememberMe" id="jrememberMe" value="1">
          <label for="jevattend_id">&nbsp;{{prompts.localStorage}}</label>
        </div>

        <button type="submit" 
                class="btn btn-lg btn-login btn-block" 
                ng-disabled="myform.$invalid">{{prompts.btnLogin}}
        </button>

<!--         
        <p ng-hide="authenticated">
          or <a ng-href="#/register">{{prompts.btnRegister}}</a>
        </p>
-->  

<!--     <p ng-hide="authenticated" class="passwordHelp" onclick="alert(' Finely chop an onion, some garlic and a chilli, and saute on a little oil until the onion is brown.');">{{prompts.btnPasswordHelp}}
         </p>
 -->

      </form>
    </div>
  </div>
</div>