<nav class="navbar navbar-inverse" style="background-color: {{prompts.bgColor}}" ng-cloak="">
  <div class="container-fluid">

    <span class="navbar-brand">
      <span ng-click="startOver()" class="logo">
        <img src="resources/images/ct_logo.png">
      </span>
    </span>

    <div class="pull-right" style="font-weight:bold;">
      <span class="navbar-brand moveUp" style="color: {{prompts.fontColor}};">
        {{prompts.brandName}}
      </span>
    </div>
    <br><br>
    <div class="pull-right" style="font-weight:bold;">
      <span class="navbar-brand" style="margin-top : -25px; color: {{prompts.fontColor}};">
        {{AsOfDate.getAsOfDate()}}
      </span>
    </div>
  </div>
</nav>