    <nav ng-if="!isIphone()" 
         class="navbar navbar-inverse" 
         style="background-color: {{prompts.bgColor}}" 
         ng-cloak="">
        <div class="container-fluid">

            <span class="navbar-brand">
                <span ng-click="startOver()" class="logo">
                    <img src="resources/images/wineDetective4.png">
                    <span class="moveUp" 
                          style="font-weight:bold; color: {{prompts.fontColor}};">
                        {{prompts.brandName}}
                    </span>
                </span>
            </span>

            <div class="pull-right" style="font-weight:bold;">
                <span class="navbar-brand moveUp" style="color: {{prompts.fontColor}};">
                    {{Data.getViewName()}}
                </span>
            </div>
            <br>
            <br>
            <div class="pull-right" style="font-weight:bold;">
                <span class="navbar-brand" style="margin-top : -25px; color: {{prompts.fontColor}};">
                    {{AsOfDate.getAsOfDate()}}
                </span>
            </div>

        </div>
    </nav>

    <nav ng-if="isIphone() && isHomePage()" 
         class="navbarIphone navbar-inverse" 
         style="background-color: {{prompts.bgColor}}" 
         ng-cloak="">

            <div class="grid-align-center">
                {{Data.getViewName()}}
            </div>

    </nav>

    <nav ng-if="isIphone() && !isHomePage()" 
         class="navbarIphone navbar-inverse" 
         style="background-color: {{prompts.bgColor}}" 
         ng-cloak="">

        <div ng-click="goBack()" class="text-left">
            <span class="glyphicon glyphicon-circle-arrow-left">
            </span>
            <div class="text-center">
                {{Data.getViewName()}}
                <span ng-click="btnDone()" 
                      class="glyphicon glyphicon-menu-hamburger pull-right">&nbsp;
                </span>
            </div>
        </div>

    </nav>