<div class="navbar navbar-inverse gridSearch">
  <div style="background-color: {{prompts.bgColor}}">
    <div class="container-fluid">
        <div class="input-group-sm" style="padding:5px;">
            <input type="text" class="form-control" ng-change="searchGrid()" placeholder="search" ng-model="searchText" />
            <i class="form-control-feedback moveGlyph glyphicon glyphicon-search"></i>
        </div>
    </div>
  </div>
</div>

<div style="margin-top: -30px;">
    <div class="gridByVarietal" 
         ui-grid-edit 
         ui-grid-selection 
         ui-grid-grouping 
         ui-grid-resize-columns 
         ui-grid-auto-resize style="height: {{gridHeight}}; background-color:white;" 
         ui-grid="gridOptions" 
         ui-grid-exporter>
    </div>
</div>
<br>
<button class="btn btn-lg btn-primary btn-block" type="button" ng-click="btnDone();">{{prompts.btnDone}}
</button>