<script type="text/ng-template" id="searchTooltipTemplate.html">
  <div style="color:black; width:100px;">
      <span>{{prompts.clearSearch}}</span>
  </div>
</script>


<div class="navbar gridSearch">
  <div class="input-group add-on">
    <input type="text" style="height:30px;" class="form-control" ng-change="searchGrid(true)" placeholder="search" ng-model="searchText" />      
    <span class="input-group-addon">

              <i 
                tooltip-placement="top" 
                tooltip-class="tooltip-class"
                uib-tooltip-template="'searchTooltipTemplate.html'"
                tooltip-popup-close-delay='500'
                ng-click="searchGrid('clear');" 
                class='glyphicon glyphicon-remove-circle'
                style="pointer-events: initial;">
              </i>

    </span>
  </div>
</div>

<div style="margin-top: -40px;">
   <div class="gridByVarietal" 
      ui-grid-edit 
      ui-grid-selection 
      ui-grid-grouping 
      ui-grid-resize-columns 
      ui-grid-auto-resize style="height: {{gridHeight}}; background-color:white;" 
      ui-grid="gridOptions" 
      ui-grid-exporter>
   </div>
</div>
<br>

<button ng-if="!isIphone()" 
        class="btn btn-lg btn-primary btn-block" 
        type="button" 
        ng-click="btnDone();">{{prompts.btnDone}}
</button>